@model NvkLesson08.Models.NvkAccount
@{
    ViewData["Title"] = "NvkEdit";
    Layout = "~/Views/Shared/_NvkLayout.cshtml";
}
<h1>NvkEdit</h1>

<h4>NvkEmployee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NvkEdit" asp-route-id="@Model.NvkId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NvkId" class="control-label"></label>
                <input asp-for="NvkId" class="form-control"  readonly/>
                <span asp-validation-for="NvkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkFullName" class="control-label"></label>
                <input asp-for="NvkFullName" class="form-control" />
                <span asp-validation-for="NvkFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkEmail" class="control-label"></label>
                <input asp-for="NvkEmail" class="form-control" />
                <span asp-validation-for="NvkEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkPhone" class="control-label"></label>
                <input asp-for="NvkPhone" class="form-control" />
                <span asp-validation-for="NvkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkAddress" class="control-label"></label>
                <input asp-for="NvkAddress" class="form-control" />
                <span asp-validation-for="NvkAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkAvatar" class="control-label"></label>
                <input asp-for="NvkAvatar" class="form-control" />
                <span asp-validation-for="NvkAvatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkBirthday" class="control-label"></label>
                <input asp-for="NvkBirthday" class="form-control" />
                <span asp-validation-for="NvkBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkGender" class="control-label"></label>
                <input asp-for="NvkGender" class="form-control" />
                <span asp-validation-for="NvkGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkPassword" class="control-label"></label>
                <input asp-for="NvkPassword" class="form-control" />
                <span asp-validation-for="NvkPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkFacebook" class="control-label"></label>
                <input asp-for="NvkFacebook" class="form-control" />
                <span asp-validation-for="NvkFacebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="NvkIndex">Back to List</a>
</div>