
@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>Thông tin sinh viên</h1>
    <hr />
    <p>Mã sinh viên: 2310900053</p>
    <p>Họ và tên:Kien Nguyen</p>
    <p>Lớp: K23CNT1</p>
    <p>Email: nguyenvukien@gmail.com </p>
    <p>Điện thoại: 0379661833</p>
</div>
